body {
	background-image: url('../images/dot_background.png');
	background-repeat: repeat;
	/* margin: 25px 10% 25px 10%; */
	margin: 0;
}

@font-face {
	font-family: 'Colendra';
	src: url('../assets/ColendraRegular.otf');
	font-style: normal;
	font-weight: 300;
  }
  
  /* importeer ook de bold gedrukte versie van het Colendra font
	 uit onze eigen map */
  @font-face {
	font-family: 'Colendra';
	src: url('../assets/ColendraBold.otf');
	font-style: normal;
	font-weight: 700; /* bold */
  }



*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

p {
	/* font-family: 'Josefin Sans', sans-serif; */
	font-family: 'Colendra', sans-serif;
	font-size: 17pt
}

nav{
	background-color:  #d94937;
	padding-top: 20px;
}

header{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: url('../images/amsterdam.png');
	background-repeat: no-repeat;
	z-index: 1;
}

ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li{
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

nav ul li a img{
	max-width: 100%;
}

h1 {
	font-family: 'Colendra', sans-serif;   
	font-size: 18pt;
	line-height: 1.8em;
	color: #1D1D1B;
	font-weight: 700; /* bold */
}

h2 {
	font-family: 'Colendra', sans-serif;   
	font-size: 18pt;
	line-height: 1.8em;
	color: #1D1D1B;
	font-weight: 300;
}

details a{
	display: block;
}

details summary::-webkit-details-marker {
	display:none;
}

a{
	text-decoration: none;
	font-family: 'Colendra', sans-serif; 
	font-size: 20px;
	color: #5CB2AC;
	font-weight: bold;
}

a img{
	width: 100%;
}

main section:first-child{
	background-color: black;
}

main section:first-child h1{
	color: white;
}

main#bookmark section:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	flex-direction: column;
	margin: 30px;
}

main section:last-child h2{
	font-weight: bold;
}

main section:last-child a{
	background-color:#d94937;
	padding: 20px;
	border-radius: 20px;
	color: white;
}

main a figure{
	position: relative;
}

main a figure span{
	position: absolute;
	bottom: 10px;
	width: 100%;
	left: 70%;
}

figure section{
	left: 84%;
	width: 10%;
	position: absolute;
	top: 18px;
}