body {
	background-image: url('../images/dot_background.png');
	background-repeat: repeat;
	/* margin: 25px 10% 25px 10%; */
	margin: 0;
}

@font-face {
    font-family: 'Colendra';
    src: url('../assets/ColendraRegular.otf');
    font-style: normal;
    font-weight: 300;
  }
  
  /* importeer ook de bold gedrukte versie van het Colendra font
     uit onze eigen map */
  @font-face {
    font-family: 'Colendra';
    src: url('../assets/ColendraBold.otf');
    font-style: normal;
    font-weight: 700; /* bold */
  }



h2 {
	font-family: 'Colendra', sans-serif;   
	font-size: 18pt;
	line-height: 1.8em;
	color: #1D1D1B;
	font-weight: bolder;
}

header section img{
    width: 50%;
}

header.home section:nth-child(2){
    position: absolute;
    top: 10px;
    left: 70%;
}

header section:nth-child(2) a img{
    width: 90%;
}

header section:nth-child(2) a{
    font-family: 'Colendra', sans-serif; 
    font-size: 24px;
}

header section:last-child img{
    width: 100%;
}


main section:last-child{
    position: fixed;
    bottom: 0;
    z-index: -1;
}

main section:last-child img{
    width: 375px;
}

main section:first-child{
    display: flex;
    justify-content: center;
}


main section a span{
    font-size: 20px;
}

a.home-button{
    background-color: white;
    border-radius: 34px;
    padding: 16px;
    font-family: 'Colendra', sans-serif;
    border: 1px solid;
    min-width: 72px;
    flex: 0 0 auto;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

a:visited{
    text-decoration: none;
}

header figure img{
    max-width: 100%;
}

main section:nth-child(2){
    margin-left: 142px;
    margin-top: 23px;
}

/* main section:nth-child(3){
    margin-top: 30px;
    margin-left: 121px;
}

main section:nth-child(3) a{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    background-color: white;
    border: 1px solid black;
    font-family: 'Colendra', sans-serif;
    color: #d94937;
    border-radius: 25px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

main section:nth-child(3) button span{
    font-size: 36px;
    font-weight: bolder;
} */

main section:nth-child(3){
    text-align: center;
}

main section:nth-child(3) > a:nth-of-type(1) img{
    width: 70%;
    border: 2px solid black;
}

main section:nth-child(3) > a img{
    width: 70%;
}


main section:nth-child(3) img:nth-child(3){
    position: fixed;
    width: 10%;
    right: 0;
    bottom: 90px;
}

main section:nth-child(3) img:nth-child(4){
    position: fixed;
    width: 10%;
    transform: rotate(180deg);
    left: 0;
    bottom: 90px;
}

main section:nth-child(3) a.arrow{
    position: fixed;
    bottom: 145px;
}

main section:nth-child(3) a.arrow-left{
    position: fixed;
    bottom: 145px;
    left: 0;
    width: 16%;
    transform: rotate(180deg);
}
