/* importeer het Colendra font uit onze eigen map */
@font-face {
    font-family: 'Colendra';
    src: url('../assets/ColendraRegular.otf');
    font-style: normal;
    font-weight: 300;
  }
  
  /* importeer ook de bold gedrukte versie van het Colendra font
     uit onze eigen map */
  @font-face {
    font-family: 'Colendra';
    src: url('../assets/ColendraBold.otf');
    font-style: normal;
    font-weight: 700; /* bold */
  }


body {
	background-image: url('../images/dot_background.png');
	background-repeat: repeat;
	/* margin: 25px 10% 25px 10%; */
	margin: 0;
}

header section img{
    width: 50%;
}

header section:last-child img{
    width: 100%;
}

header figure img{
    max-width: 100%;
}

header figure{
    margin: auto;
    margin-top: 54px;
}

.loginbox{
    background-color: white;
    border: 1px solid;
    width: 70%;
    margin: auto;
    height: 23em;
    border-radius: 40px;
    text-align: center;
    box-shadow:1px 1px 6px 4px #aaaaaa;
}

main section{
    margin-top:75px;
}

h2{
    font-family: 'Colendra', sans-serif;  
    font-size: 2em;
    color: #d94937;
}

.textbox{
    border-bottom: 1px solid;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    overflow: hidden;
}

input{
    border: none;
    outline: none;
    font-size: 26px;
    font-family: 'Colendra', sans-serif;
    background-color: transparent;  
}

.login{
    margin: 30px;
    
}

#password{
    margin-top: 40px;
}

a{
    text-decoration: none;
    font-family: 'Colendra', sans-serif;  
    font-size: 17px;
    color: #d94937;
    font-weight: bolder;
}

a:visited{
    text-decoration: none;
}

button{
    background-color: #d94937;
    width: 75%;
    border-radius: 20px;
    font-size: 33px;
    font-family: 'Colendra', sans-serif;  
    color: white;
    font-weight: bolder;
}

.register{
    margin-top: 25px;
}

section div.register a{
    font-size: 24px;
}

main div.footer{
    padding-left: 130px;
    padding-top: 20px;
}

main div.footer a.bottom{
    color: #5cb2ac;
    font-size: 20px;
}

main#register section:last-child{
    position: fixed;
    bottom: 0;
    z-index: -1;
}

main#register section:last-child img{
    width: 375px;
}

main#register section:first-child form input{
    border-bottom: 1px solid;
    margin: 10px;
    width: 90%;
    color: #5cb2ac;
}

main#register section:first-child form{
    margin: 0 27px;
}

header#forget{
    margin-top: 25px;
}

header section p{
    font-weight: bold;
    width: 50%;
    margin: auto;
}

main#register section{
    margin-top: 5px;
}

