:root{
	--isga-red: #d94937;
}

/* importeer het Colendra font uit onze eigen map */
@font-face {
  font-family: 'Colendra';
  src: url('../assets/ColendraRegular.otf');
  font-style: normal;
  font-weight: 300;
}

/* importeer ook de bold gedrukte versie van het Colendra font
   uit onze eigen map */
@font-face {
  font-family: 'Colendra';
  src: url('../assets/ColendraBold.otf');
  font-style: normal;
  font-weight: 700; /* bold */
}

/* CSS reset */
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Stel een plaatje van de stippen uit de ISGA guide in als achtergrond
   en herhaal dit patroon */
body {
	background-image: url('../images/dot_background.png');
	background-repeat: repeat;
	/* margin: 25px 10% 25px 10%; */
	margin: 0;
}

main.main{
	padding: 0 0 80px;
}

/* onderstaande styles voor de <h1>, <h2> en <p> tags geven een voorbeeld
   hoe je de geimporteerde fonts kunt gebruiken.
   Op je eigen website mag je natuurlijk andere lettertypes, groottes, en
   kleuren, etc. voor deze tags gebruiken. */
   
h1 {
	font-family: 'Colendra', sans-serif;   
	font-size: 18pt;
	line-height: 1.8em;
	color: #1D1D1B;
	font-weight: 700; /* bold */
}



h2 {
	font-family: 'Colendra', sans-serif;   
	font-size: 18pt;
	line-height: 1.8em;
	color: #1D1D1B;
	font-weight: 300;
}

p {
	/* font-family: 'Josefin Sans', sans-serif; */
	font-family: 'Colendra', sans-serif;
	font-size: 17pt
}

nav{
	background-color:  #d94937;
	padding-top: 5px;
}

header{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: url('../images/amsterdam.png');
	background-repeat: no-repeat;
}

header > a{
	position: fixed;
	top: 10px;
	left: 83%;
}

ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

nav ul li{
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

nav ul li a img{
	max-width: 100%;
}

/* nav ul li:nth-of-type(2) a img{
	width: 41%;
}

nav ul li:nth-of-type(3) a img{
	width: 66%;
}

nav ul li:nth-of-type(4) a img{
	width: 62%;
}

nav ul li:nth-of-type(5) a img{
	width: 40%;
}

nav ul li:nth-of-type(6) a img{
	width: 55%;
} */

main.main section:first-child{
	margin: 10px;
	margin-left: 35px;
}

.polaroid{
	background-color: white;
	min-height: 140px;
	width: 140px;
	border: 1px solid black;
	box-shadow:1px 1px 6px 4px #aaaaaa;
	margin-bottom: 20px;
}


.content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 25px;
}

main.main > section:last-child{
	position: fixed;
	bottom: 0;
	height: 300px;
	width: 100%;
	z-index: -1;
}

main.main > section:last-child img{
	width: 375px;
}

main.main section:first-child div{
	background-color: white;
	width: 270px;
	height: 180px;
	border: 1px solid gray;
	transform: rotate(-10deg);
	box-shadow: 1px 1px 10px 4px #aaaaaa;
}

section div img{
	margin-top: 10px;
	max-width: 80%;
	height: auto;
	margin-left: 27px;
}

section div.polaroid img{
	max-width: 84%;
	margin-left: 11px;
}

main.main > section:nth-child(2){
	display: flex;
	width: 80%;
	margin: auto;
}

main.main section:nth-child(2) h1{
	font-family: 'Colendra', sans-serif;   
	font-size: 35px;
	line-height: 1.8em;
	color: #d94937;
	font-weight: 700; /* bold */
}

main.main section:nth-child(3){
	width: 80%;
	margin: auto;
	border-bottom: 1px solid;
	padding: 5px;
}

main.main section:nth-child(4){
	margin: 0 23px;
	border: 1px solid black;
	margin-top: 10px;
}

main.main section:nth-child(4) iframe{
	width: 100%;
	height: 188px;
	border-width: 0px;
	border: none;
}

main.main section:nth-child(5){
	/* position: fixed; */
	bottom: 75px;
	left: 60px;
	margin-left: 55px;
}

main.main section:nth-child(5) a{
	background-color: white;
	font-family: 'Colendra', sans-serif;
	color: #d94937;
	padding:0 20px;
	border-radius: 30px;
	font-size: 35px;
	font-weight: bold;
	border: 2px solid black;
}

a{
	text-decoration: none;
	font-family: 'Colendra', sans-serif; 
	font-size: 20px;
	color: #5CB2AC;
	font-weight: bold;
}

section.review{
	border-bottom: 1px solid black;
	margin-top: 10px;
}

section.review > section{
	display: flex;
	margin-left: -13px;
}

section.review > section p{
	margin-top: 15px;
	font-family: 'Colendra', sans-serif;
}

section.review > img{
	width: 18%;
	border-radius: 65%;
	height: 50px;
}

section.review p{
	margin-bottom: 10px;
}

section#button{
	position: fixed;
	bottom: 88px;
	width: 100%;
	margin-left: -18px;
}

section#button input#disabled{
	width: 77%;
	font-size: 23px;
	height: 45px;
	margin-left: 15px;
}

section#button input{
	font-size: 35px;
	font-family: 'Colendra', sans-serif;
	margin-left: 30px;
}

main#comments{
	margin: 25px;
}

details a{
	display: block;
}

details summary::-webkit-details-marker {
	display:none;
}

section.inner{
	display: flex;
}

section.inner p{
	margin-top: 10px;
	margin-left: 10px;
}

section.inner img{
	width: 45%;
}

main#comments{
	padding: 0 0 80px;
}

button{
	background-color: var(--isga-red);
	font-family: 'Colendra', sans-serif;
	font-size: 30px;   
	padding: 5px;
}




